.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1406px;
  margin: 0px auto;
  padding: 0 20px 0 20px;


  &--relative {
    position: relative;
    padding-top: 88px;
  }

  &--centred {
    justify-content: center;
  }
}
