.infocard {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  max-height: 525px;
  padding: 0 48px 48px 48px;
  
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;

  @include mobile {
    max-width: 350px;
    max-height: 507px;
    padding: 0 20px 20px 20px;
  }

  &__content {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    max-width: 284px;

    @include mobile-s {
      margin-top: 20px;
    }
  
    &__title {
      font-family: Gilroy, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.44em;
      
      color: var(--blue);

      letter-spacing: 0.05em;
    }

    &__text {
      margin-top: 16px;
      font-weight: 400;
      letter-spacing: 0.04em;
      opacity: 0.6;
    }
    
    &__btn {
      margin-top: 34px;
      width: 124px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__caption {
        font-size: 14px;
        font-weight: bold;
        line-height: 2.14em;
        letter-spacing: 0.05em;
        
        color: var(--light-blue);
      }

      @include mobile-s {
        margin-top: 20px;
      }
    }
  }

  &--first {
    margin: 170px 0 0 78px;
  
    @include tablet {
      margin: 40px auto 0 auto;
    }
  }
  
  &--second {
    margin-top: 13px;
  
    @include tablet {
      margin-top: 60px;
    }
  }
  
  &--third {
    margin-top: 99px;
  
    @include tablet {
      margin-top: 50px;
    }
  }
  
  &__image--first {
    margin: 48px 0 0 23px;
  
    @include mobile-s {
      margin: 20px 0 0 26px;
    }
  }
  
  &__image--second {
    margin: -18px 0 0 25px;
  }
  
  &__image--third {
    margin: 51px 0 0 38px;
  
    @include mobile-s {
      margin: 20px 0 0 37px;
    }
  }
}
