.menu {
  display: flex;
  align-items: center;
}

.burger__button {
  position: relative;
  display: block;
  width: 24px;
  height: 16px;
  z-index: 30;
  order: 3;
  background-color: #FFFFFF;
  transition: 0.8s;
}

.burger__button:hover {
  transform: scale(1.2);
  transition: 0.8s;
}

.burger__lines,
.burger__lines::after,
.burger__lines::before {
  position: absolute;
  top: 0;
  right:0;
  width: 24px;
  height: 3px;
  background-color: var(--menu-color);
  transition: 0.5s;
}

.burger__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger__lines::before {
  content: '';
  top: -8px;
}

.burger__lines::after {
  content: '';
  top: 8px;
}

.menu--active {
  .burger__lines {
    background-color: transparent;
  }
  
  .burger__lines::before {
    top: 0;
    transform: rotate(45deg);
  }

  .burger__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .menu__nav {
    visibility: visible;
    opacity: 1;
    transition: 0.8s;
  
    ul {
      display: flex;
      transition: 0.8s;
    }
  }
}

.menu__nav {
  z-index: 20;
  order: 2;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s;
}

.menu__link {
  padding-right: 25px;
  font-size: 25px;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: var(--menu-color);

  @include tablet {
    font-size: 18px;
  }
  
  @include tablet-s {
    font-size: 14px;
  }
}

.menu__link:hover {
  color: var(--blue);
}

.menu ul {
  display: none;
  transition: 0.8s;

  @include tablet-s {
    flex-direction: column;
    justify-content: center;
  }
}

.menu ul li a {
  color: var(--menu-color);
}