@mixin tablet-xl {
  @media (max-width: 1340px) { @content; }
}

@mixin tablet {
  @media (max-width: 1024px) { @content; }
}

@mixin tablet-s {
  @media (max-width: 800px) { @content; }
}

@mixin mobile {
  @media (max-width: 560px) { @content; }
}

@mixin mobile-s {
  @media (max-width: 400px) { @content; }
}
