html {
  scrollbar-color:
    var(--menu-color)
    var(--main-bg-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background-color: var(--menu-color);
  border: 2px solid var(--main-bg-color);
}

body {
  height: 100%;

  line-height: 1.62em;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 300;
  color: var(--blue);
  font-family: Gilroy, Arial, Helvetica, sans-serif;

  background: var(--main-bg-color);
}

.display-none {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1406px;
  margin: 0px auto;
  padding: 0 20px 0 20px;
}

.container--relative {
  position: relative;
  padding-top: 88px;
}

.container--centred {
  justify-content: center;
}

.display-block {
  display: block;
}
