html {
  scrollbar-color:
    var(--menu-color)
    var(--main-bg-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--menu-color);
  border: 2px solid var(--main-bg-color);
}

body {
  height: 100%;

  line-height: 1.62em;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 300;
  color: var(--blue);
  font-family: Gilroy, Arial, Helvetica, sans-serif;

  background: var(--main-bg-color);
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.compensation-padd {
  padding-right: 10px;
}
